@import "../../styles/assets";
@import "../../styles/media";


.noUsers{
  @include noUsersMedia();
  @include gridTemplate(grid, null, null, 25px, null);
  margin-top: 50px;
  justify-items: center;
  font-size: 25px;
  text-align: center;
  &__icon{
    @include scale(170px, null);
  }
}