@import "../../styles/assets";
@import "../../styles/media";


.addBtn{
  @include addBtnMedia();
  @include flex(inline-flex, null, flex-start, null);
  @include makeLightText(19px, bold, null);
  @include scale(250px, 45px);
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 5px;
  transition: box-shadow .15s ease-in;

  &__plus{
    @include customPlus(23px, 22px);
  }
}