@import "media";

.App {
	overflow-y: hidden;
	@include appMedia();
	display: grid;
	grid-template-columns: 220px 1fr;
	font-family: "Nunito", serif;
	height: 100vh;

	aside {}

	main {
		margin: 20px 30px 0 30px;
	}
}




