@mixin flex($df, $ai, $jc, $fd){
  display: $df;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;

}
@mixin makeText($fs, $ff, $c, $lh, $fw, $ww, $ta){
  font-size: $fs;
  font-family: $ff;
  color: $c;
  line-height: $lh;
  font-weight: $fw;
  word-wrap: $ww;
  text-align: $ta;
}

@mixin makeLightText($fs, $fw, $c){
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin scale($w, $h){
  width: $w;
  height: $h;
}

@mixin boxShadow($br){
  box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
  border-radius: $br
}

@mixin gridTemplate($dg, $gtr, $gtc, $grg,$gcg){
  display: $dg;
  grid-template-rows: $gtr;
  grid-template-columns: $gtc;
  grid-row-gap: $grg;
  grid-column-gap: $gcg;
}


@mixin toPosition($p, $t, $r, $b, $l, $z){
  position: $p;
  top: $t; right: $r; bottom: $b; left: $l;
  z-index: $z;
}







