@import "./assets";


$max-width1: 900px;
$max-width2: 670px;
$max-width3: 365px;


@mixin appMedia(){
  @media(max-width: $max-width1) {
    grid-template-columns: 160px 1fr;
  }
  @media(max-width: $max-width2) {
    &[data-hidden='true false']{
      grid-template-columns: 160px 1fr;
    }
    grid-template-columns: 40px 1fr;
  }
};


@mixin sideMedia() {
  @media(max-width: $max-width1) {
    div {
      .sidebar__item {
        font-size: 15px;
        line-height: 15px;
        img {
          @include scale(30px, 30px);
        }
      }
    }
    .sidebar__logo {
      img {
        width: 130px;
      }
    }
  }
}


@mixin studentMedia() {
  @media(max-width: $max-width1) {
    font-size: 16.5px;
    @include gridTemplate(grid, .3fr .2fr 1fr, 1fr, null, null);
    .student__title{
      @include makeLightText(24px, 800, null);
    }
    .student__editor{
      display: block;

       .student__btn{
         @include gridTemplate(grid, 1fr, .5fr .5fr, null, 10px);
          & div:nth-child(1){justify-self: flex-end}
      }
      .student__lists{
        @include makeLightText(20px, 700, #AEAEAE);
        height: 100px;
        margin: 15px 0 0 0;
      }
    }
  }

  @media(max-width: $max-width2) {
    text-align: center;
    @include gridTemplate(grid, .25fr .2fr 1fr, 1fr, null, null);
    .student__editor{
      .student__btn{
        @include gridTemplate(grid, 1fr 1fr, 1fr, null, null);
        & div:nth-child(1n){justify-self: center}
      }
    }
  }
}





@mixin addBtnMedia() {
  @media(max-width: $max-width1) {
    @include scale(null, 35px);
    max-width: 190px;
    padding: 7px 4px;
    @include makeLightText(15px, bold, null);
    .addBtn__plus{
      $size:  17px;
      @include scale($size,$size);
      &:before{
        @include scale($size,$size);
        @include makeLightText($size, bolder, white);
      }
    }
  }
}


@mixin noUsersMedia() {
  @media(max-width: $max-width1) {
    @include gridTemplate(grid, .5fr .18fr .2fr, 1fr, 25px, null);
    font-size: 19px;
    .noUsers__icon{
      @include scale(150px, null);
    }
  }
  @media(max-width: $max-width2) {
    .noUsers__icon{
      @include scale(130px, null);
    }
  }
}


@mixin scheduleMedia() {
  @media(max-width: $max-width1) {

  }
}


@mixin customModalMedia() {
  @media(max-width: $max-width1) {
    .customModal__inner{
      header{font-size: 13px}
      main{
        font-size: 19px;
      }
      footer{ @include customBtn(16px, #fff, #235490, 10px, 8px 80px) }
    }
  }
  @media(max-width: $max-width2) {
    .customModal__inner{
      max-width: 350px;
      header{
        font-size: 10px;
        img{top: 10px}
      }
      main{font-size: 16px;}
      footer{ @include customBtn(13px, #fff, #235490, 10px, 8px 60px) }
    }
  }
  @media(max-width: $max-width3) {
    .customModal__inner{
      footer{ @include customBtn(12px, #fff, #235490, 10px, 8px 30px) }
    }
  }
}

@mixin addStudModalMedia() {
  @media(max-width: $max-width1) {
          main{ input{width: 250px; font-size: 16px} }
  }
  @media(max-width: $max-width2) {
       main {
         input {
           display: flex;
           width: 230px;
           font-size: 13px;
         }
         br {display: none}
       }
  }
  @media(max-width: $max-width3) {
    main { input {width: 160px} }
  }
}

@mixin invitationSuccessModalMedia() {
  @media(max-width: $max-width1) {
    main{ img{width: 55px} }
  }
  @media(max-width: $max-width2) {
    main{ img{width: 50px} }
  }
}