@import "../../styles/assets";
@import "../../styles/media";

.student {
  @include studentMedia();
  @include gridTemplate(grid, null, null, 20px, null);
  @include boxShadow(20px);
  width: 100%;
  padding: 20px 25px;
  font-size: 21px;

  &__title {
    @include makeLightText(30px, 800, null);
  }

  &__switchers {
    hr {
      border: 0;
      background: #f5f5f5;
      height: 1px;
    }
  }

  &__editor {
    @include gridTemplate(grid, null, 0fr 1fr, null, 25px);

    .student__btn {
      @include gridTemplate(grid, null, null, 10px, null);
    }

    .student__lists[data-nodata=true] {
      width: 100%;
      margin-left: 25px;
      border: 2px dashed #AEAEAE;
      padding: 10px;
      @include flex(flex, center, center, null);//временно для групп
      div {
        @include flex(flex, center, center, null);
        @include makeLightText(25px, 700, #AEAEAE);
      }
    }

  }
}


