@import "../../styles/assets";
@import "../../styles/media";


.schedule{
  @include gridTemplate(grid,  .1fr 1fr, 1fr, null, null);
  @include boxShadow(20px);
  position: relative;
  width: 100%;
  padding: 20px 25px;
  font-size: 21px;


  &__switchers {
    div{
      display: flex;
      justify-content: space-between;
    }
    hr {
      border: 0;
      background: #f5f5f5;
      height: 1px;
    }
  }

  &__table{
    border-collapse: collapse;
    @include boxShadow(20px);
    overflow: hidden;
    text-align: center;


    thead{
      text-align: center;
      background: #F1FCFF;
      span{
        color: #235390;
        font-size: 25px;
      }
      th:first-child{
        border-right: 1px solid #E2E2E2;
      }
      th{
        padding: 15px 0;
        width: 9%;
      }
    }
    tbody{
      td{
        position: relative;
        word-wrap: break-word;


        .schedule__content{

          position: absolute;
          left: 5px;
          top: 5px;
          border-radius: 5px;
          width: 95%;

          &[data-filled=true]{
            display: flex;
            justify-content: center;
            padding: 10px;
            div{

              height: 100%;
              font-size: 16px;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;

              div{
                margin: 0 0 10px 10px;
              }
            }

            img{
              width: 32px;
              height: 32px;
            }
          }

          &:not([data-filled=true]){
            &:hover{
              $size: 22px;
              border: 3px #235390 dashed;
              cursor: pointer;

              display: flex;
              justify-content: center;
              align-items: center;
              &:after{
                content: "Новый урок";
                @include makeLightText(18px, bolder, #235390);
              }
              div{
                background: #235390;
                @include customPlus(22px, 22px);
              }

            }
          }


        }
      }

      th{
        color: #4F4F4F;
        border-right: 1px solid #E2E2E2;
      }
      tr{
        border-bottom: 1px solid #E2E2E2;
      }
    }
  }
}

