@import "../../styles/assets";
@import "../../styles/media";


.schedule{
  width: 100%;
  position: relative;
  font-size: 21px;
  padding: 20px 25px;
  @include boxShadow(20px);
  @include gridTemplate(grid,  .1fr 1fr, 1fr, null, null);

  &__switchers {
    div{ @include flex(flex, null, space-between, null) }
    hr{ @include makeHr(0, 1px, #f5f5f5) }
  }

  &__table{
    border-collapse: collapse;
    @include boxShadow(20px);
    text-align: center;
    overflow: hidden;

    thead{
      background: #F1FCFF;

      span{
        color: #235390;
        font-size: 25px;
      }
      th{
        width: 9%;
        padding: 15px 0;
        &:first-child{
          border-right: 1px solid #E2E2E2;
        }
      }
    }

    tbody{
      td{
        position: relative;

        .schedule__content{
          @include toPosition(absolute, 5px, null, null, 5px, null);
          @include scale(95%,  60px);
          word-break: break-word;
          border-radius: 5px;
          padding: 10px;

          &[data-filled=true]{
            div{
              display: flex;
              font-size: 16px;
              font-weight: bold;
              div{margin-left: 5px}
            }
            img{ @include scale(32px, 32px) }
          }

          &[data-filled=false]{
            &:hover{
              $size: 22px;
              cursor: pointer;
              border: 3px #235390 dashed;
              @include flex(flex, center, center, null);

              &:after{
                content: "Новый урок";
                @include makeLightText(18px, bolder, #235390);
              }
              div{
                @include customPlus($size, $size);
                background: #235390;
              }
            }
          }
        }
      }//td

      th{//tableTime
        color: #4F4F4F;
        border-right: 1px solid #E2E2E2;
      }
      tr{border-bottom: 1px solid #E2E2E2}
    }//tbody
  }
}

