@import '../../styles/assets';
@import '../../styles/media';

.sidebar {
  @include sideMedia();
  @include flex(flex, null, space-between, column);
  @include makeText(22px, null, #235390, 20px, 800, break-word, center);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0;
  text-align: left;
  padding: 10%;

  div:nth-child(4), :nth-child(10) {
    margin-bottom: 20px;
  }
  div:nth-child(1){
    margin-right: 2px;
  }

  .sidebar__item {
    @include flex(flex, center, flex-start, null);
    border-radius: 20px;
    margin-top: 5px;

    img {
      @include scale(42px, 42px);
    }
    span{
      margin-left: 10px;
    }
    &:nth-child(1n+1):hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      cursor: pointer;
    }
  }

  &__logo {
    img {
      margin: 5px 0 25px 2px;
    }
  }

  &[data-hidden=true] {
    .sidebar__item {
      &:nth-child(1) {
        transform: scale(-1);
      }
    }
    .sidebar__logo {
      img {
        width: 30px;
      }
    }
  }
}